h1 {
	font-size: 50px;
	font-family: 'RocknRoll One', sans-serif;
	text-align: center;
}

h2 {
	font-size: 30px;
	font-family: 'RocknRoll One', sans-serif;
	text-align: center;
}

p {
	font-size: 20px;
	font-family: 'RocknRoll One', sans-serif;
	text-align: center;
	margin: 25px;
}

#go {
	text-align: center;
	background-color:green;
	border-radius:14px;
	border:5px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'RocknRoll One', sans-serif;
	font-size:17px;
	padding:20px 40px;
	float: center;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}

#abox {
	text-align: center;
}

#score {
	float: right;
	border:2px solid #000000;
	padding: 10px;
	background-color:lightblue;
	font-family: 'RocknRoll One', sans-serif;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
